@import '../../../scss/func';

.Tree {
  .ant-tree {
    &-treenode {
      padding-bottom: rem(16);

      &:last-child {
        padding-bottom: 0;
      }
    }

    &-switcher {
      width: rem(20);
      height: rem(20);
      align-self: center;

      &_open,
      &_close {
        & > * {
          width: rem(20);
          height: rem(20);
        }
      }

      &_open {
        & > * {
          transform: rotateZ(360deg);
        }
      }

      &_close {
        & > * {
          transform: rotateZ(270deg);
        }
      }
    }

    &-indent-unit {
      width: rem(20);
    }

    &-node-content-wrapper {
      min-height: auto;
      padding: 0;
    }

    &-checkbox {
      display: none;
    }
  }
}
