@import '../../scss/func';
@import '../../scss/colors';

.ButtonPlum {
  &.ant-btn {
    height: rem(40);
    padding: rem(8) rem(24);
    color: $purple-2;
    border-radius: rem(8);
    transition-duration: 0.2s;

    &[disabled] {
      background: $gray-1;

      &:hover {
        background: $gray-1;
      }
    }
  }

  &.ant-btn-default {
    background: $white;
    border: 1px solid $purple-2;

    &:hover {
      border: 1px solid $purple-3;
      color: $purple-3;
    }
  }

  &.primary{
    &.ant-btn {
      color: $white;
    }
    &.ant-btn-default {
      background: $purple-2;
      border: none;

      &:hover {
        background: $purple-3;
        color: $white;
      }
    }
  }

}
