@import '../../../../scss/func';
@import '../../../../scss/colors';
@import '../../../../scss/variables';
@import '../../scss/variables';

$AppSidebarLogo: '.AppSidebarLogo';

$logo-height: rem(77);

#{$AppSidebarLogo} {
  height: $logo-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(32) $sidebar-menu-horizontal-offset rem(16);

  &__container {
    height: $logo-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(24);
    border: 1px solid $light-gray-1;
    border-radius: $default-border-radius;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
}

#{$ant-sider-collapsed} #{$AppSidebarLogo} {
  margin-inline-start: rem(8);
  margin-inline-end: rem(8);

  &__container {
    height: rem(40);
    padding: 0 rem(4);
  }
}
