@import '../../scss/func';
@import '../../scss/colors';

.Button {
  &.ant-btn {
    height: auto;
    padding: rem(8) rem(24);
    color: $white;
    border-radius: rem(45);
    transition-duration: 0.2s;

    &[disabled] {
      background: $gray-1;

      &:hover {
        background: $gray-1;
      }
    }
  }

  &.ant-btn-default {
    background: $red-1;
    border: none;

    &:hover {
      background: $red-2;
      color: $white;
    }
  }
}