@import '../../../scss/func';
@import '../../../scss/colors';
@import '../../../scss/variables';

.ManagementContainer {
  height: 100%;
  display: grid;
  grid-template-columns: rem(295) 1fr;
  gap: rem(24);

  &__content {
    height: 100%;
  }
}
