@import '../../scss/variables';

.Icon {
  transition: transform $transition-speed linear;

  &.direction-top {
    transform: rotateZ(180deg);
  }

  &.direction-left {
    transform: rotateZ(270deg);
  }

  &.direction-right {
    transform: rotateZ(90deg);
  }

  &.direction-bottom {
    transform: rotateZ(0deg);
  }
}
