@use 'sass:math';
@use 'sass:selector';

@import '../../../scss/func';
@import '../../../scss/colors';
@import '../../../scss/variables';

// selectors
$ant-collapsed-suffix: '-collapsed';

$ant-sider: '.ant-layout-sider';
$ant-sider-collapsed: selector.append($ant-sider, $ant-collapsed-suffix);

$ant-menu: '.ant-menu';
$ant-menu-inline: selector.append($ant-menu, '.ant-menu-inline');
$ant-menu-vertical: selector.append($ant-menu, '.ant-menu-vertical');

$sidebar-menu-selector: $ant-menu, $ant-menu-inline, $ant-menu-vertical;
$sidebar-menu-collapsed-selector: selector.append(#{$sidebar-menu-selector}, $ant-collapsed-suffix);

// colors
$sidebar-background: $white;
$sidebar-font-color: $purple-2;
$sidebar-item-select-border: $purple-2;
$sidebar-item-select-background: $light-gray-1;
$sidebar-divider: $light-gray-2;

// size
$sidebar-collapse-width: rem(76);
$sidebar-full-width: rem(269);

$sidebar-menu-icon-size: rem(40);
$sidebar-menu-icon-image-size: rem(24);
$sidebar-menu-horizontal-offset: rem(26);
$sidebar-menu-item-padding: math.div($sidebar-collapse-width - $sidebar-menu-icon-size, 2);

// animation
$sidebar-item-transition:
  border-color $transition-speed,
  background-color $transition-speed,
  margin $transition-speed $transition-func,
  padding $transition-speed $transition-func;
