@import '../../../../scss/func';
@import '../../../../scss/colors';

.AppSidebarToggle {
  position: absolute;
  top: rem(-40);
  right: rem(-12);
  width: rem(24);
  height: rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $purple-2;
  border: 1px solid $light-purple-1;
  border-radius: 50%;
  background-color: $white;

  .ant-menu-submenu-arrow {
    left: auto;
    right: auto;
    transform: rotateY(180deg) translateX(-4px);
    color: currentColor;

    &.collapsed {
      transform: rotateY(0deg) translateX(-4px);
    }
  }
}
