@import 'colors';
@import 'func';

// palette
$color-default: $purple-1;
$color-default-title: $purple-2;

$color-danger: $red-3;

$color-success: $green-1;

$bg-color: $gray-1;

// animations
$transition-speed: 0.3s;
$transition-func: cubic-bezier(0.645, 0.045, 0.355, 1);

// font
$font-family: Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-size-h1: rem(36);
$font-size-h2: rem(24);
$font-size-h3: rem(18);
$font-size-h4: rem(16);
$font-size-h5: rem(14);
$font-size-regular: rem(16);
$font-size-small: rem(14);
$font-size-mini: rem(12);

// size
$padding-sm: rem(8);
$padding-md: rem(16);
$padding-lg: rem(24);

$default-border-radius: rem(8)
