@import 'func';
@import 'variables';

.ant-layout {
  height: 100%;
}

.ant-layout-content {
  padding: 0 $padding-lg $padding-md;
}

.ant-menu-item {
  a,
  a:hover {
    color: inherit;
  }
}

.ant-menu-submenu-popup {
  .ant-menu-sub {
    border-radius: $default-border-radius;

    .ant-menu-item {
      color: $purple-2;
      font-size: $font-size-small;
      margin: 0;

      &:focus,
      &:active,
      &-selected {
        background-color: $light-gray-1;
      }
    }
  }
}

.ant-radio,
.ant-checkbox {
  top: 0;

  & + span {
    padding: 0 rem(12);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    color: $purple-2;
    font-size: rem(14);
    margin-bottom: rem(16);

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      display: none;
    }
  }

  &-inner {
    width: rem(20);
    height: rem(20);
    border-color: $purple-2;
  }
}

.ant-checkbox-wrapper {
  &-disabled {
    opacity: 0.5;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  border-color: $purple-2;
}

.ant-checkbox-inner {
  &:after {
    left: rem(5);
  }
}

.ant-checkbox-indeterminate .ant-checkbox-inner {
  &:after {
    background-color: $purple-2;
  }
}

.ant-checkbox-checked {
  &:after {
    border-color: $purple-2;
  }

  .ant-checkbox-inner {
    border-color: $purple-2;
    background-color: $purple-2;
  }
}

.ant-radio-wrapper {
  margin-right: 0;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: $purple-2;
  box-shadow: none;
}

.ant-radio-inner {
  &:after {
    width: rem(12);
    height: rem(12);
  }
}

.ant-radio-checked {
  &:after {
    border-color: $purple-2;
  }

  .ant-radio-inner {
    border-color: $purple-2;

    &:after {
      background-color: $purple-2;
    }
  }
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  height: rem(32);
  font-size: $font-size-regular;
  padding: 0 rem(12);
  border-color: $light-purple-1;
  border-radius: $default-border-radius;

  &:focus,
  &:hover,
  &.ant-input-affix-wrapper-focused,
  &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $purple-2;
    box-shadow: none;
    z-index: initial;
  }

  .ant-input-password-icon {
    color: $light-purple-1;

    &:hover {
      color: $purple-2;
    }
  }
}

.ant-input-affix-wrapper {
  & > input.ant-input {
    height: 100%;
  }
}

.ant-input-password {
  padding: 0 rem(12);
  .ant-input {
    height: auto;
    padding: rem(10) 0;
  }
}

.ant-select,
.ant-select:not(.ant-select-customize-input),
.ant-select.ant-select-open,
.ant-select.ant-select-focused {
  width: 100%;

  .ant-select-selector {
    min-height: rem(40);
    font-size: $font-size-regular;
    padding: rem(10) rem(12);
    border-radius: $default-border-radius;

    &:after {
      height: 0.5rem;
    }

    .ant-select-selection-item {
      line-height: 1.1rem;

      &:after {
        height: 1rem;
      }
    }

    .ant-select-selection-search-input {
      height: 100%;
    }
  }
}

.ant-select:not(.ant-select-disabled):hover,
.ant-select.ant-select-focused,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
  .ant-select-selector {
    border-color: $purple-2;
    box-shadow: none;
  }
}

.ant-select {
  .ant-select-arrow {
    width: rem(24);
    height: rem(24);
    top: calc(50% - rem(12));
    right: rem(8);
    margin-top: 0;
  }
}

.ant-select:not(.ant-select-disabled) {
  .ant-select-arrow {
    color: $purple-2;
  }
}

.ant-select-item {
  min-height: auto;
}
