@import '../../scss/func';
@import '../../scss/colors';
@import '../../scss/variables';

.SwitchButtons {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: rem(4);
  margin: auto 0 auto auto;
  border-radius: $default-border-radius;
  background-color: $light-gray-1;
  box-shadow: inset 0px 1px 2px rgba(97, 97, 97, 0.2), inset 0px 2px 4px rgba(97, 97, 97, 0.2);

  .ant-radio-button-wrapper {
    color: $gray-3;
    margin: 0;
    border: none !important;
    border-radius: rem(4);
    background-color: transparent;

    &:before {
      content: none;
    }

    &-checked {
      color: $white;
      background-color: $purple-2 !important;
    }

    &:not(&-checked) {
      &:hover {
        color: $purple-2
      }
    }

    &-disabled {
      opacity: 0.5;
    }
  }

  &.ant-radio-group-small {
    .ant-radio-button-wrapper {
      height: rem(16);
      font-size: rem(10);
      line-height: rem(16);
    }
  }
}
