@import '../../../scss/func';
@import '../../../scss/colors';
@import '../../../scss/variables';

.Checkbox {

}

.CheckboxLabel {
  &.ant-checkbox-wrapper {
    display: inline-block;
    margin: rem(4) !important;
  }

  .ant-checkbox {
    display: none !important;

    & + span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: rem(44);
      height: rem(32);
      color: $purple-2;
      font-size: rem(14);
      border: 1px solid $purple-2;
      border-radius: $default-border-radius;
    }

    &-checked + span {
      color: $white;
      background-color: $purple-2;
    }
  }
}
