@import '../../scss/func';
@import '../../scss/colors';

.AppHeader {
  .ant-divider-vertical {
    height: rem(16);
  }
  &.ant-layout-header {
    height: rem(48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: initial;
    padding: rem(8) rem(16);
    background-color: $purple-2;

    .ant-menu {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;

      .ant-menu-submenu {
        .ant-menu-title-content {
          display: none;
        }
      }

      .ant-menu-submenu,
      .ant-menu-item {
        width: rem(32);
        height: rem(32);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        padding: 0;
        border-radius: 50%;

        &:not(:last-child) {
          margin-inline-end: rem(8);
        }

        &:hover,
        &-active,
        &-selected {
          color: $white;
          background-color: $purple-3;
        }

        &-icon {
          width: rem(24);
          height: rem(24);
          flex-shrink: 0;

          & + span {
            margin: 0;
          }
        }

        .ant-typography {
          display: inline-block;
        }
      }
    }
  }

  &__logo {
    width: rem(72);
  }
}
