@import '../../../scss/colors';
@import '../../../scss/variables';

.Select {
  position: relative;
  margin-bottom: rem(15);

  &__label {
    position: relative;
    width: max-content;
    font-size: $font-size-mini;
    margin-bottom: rem(-7);
    margin-inline-start: rem(8);
    padding: 0 rem(8);
    border-radius: $default-border-radius;
    background-color: $white;
    z-index: 1;
  }

  &__error {
    font-size: 12px;
    color: $color-danger;
  }

  &__has-error {
    .Select__label, .ant-select .ant-select-selector {
      color: $color-danger;
    }

    .ant-select .ant-select-selector {
      border-color: $color-danger;
    }
  }
}
