@import '../../scss/func';
@import '../../scss/colors';
@import '../../scss/variables';

.Modal {
  .ant-modal-content {
    background: $white;
    border: 1px solid $purple-2;
    box-sizing: border-box;
    border-radius: rem(8);
    position: relative;
  }
  .ant-modal-header {
    padding: rem(16) rem(24);
    background: transparent;
    border: none;
    height: rem(72);
    display: flex;
    align-items: center;
  }
  .ant-modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(20);
    letter-spacing: 0.04em;
    color: $purple-5;
  }
  .ant-modal-body {
    padding: 0 rem(24) rem(24);
  }
  &_notification .ant-modal-body {
    padding-top: rem(24);
  }
  .ant-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s;
  }

  .ant-modal-close-x {
    height: rem(72);
    width: rem(72);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple-5;
  }

  .ant-btn {
    height: rem(40);
    padding: rem(8) rem(24);
    color: $purple-2;
    border-radius: rem(8);
    transition-duration: 0.2s;
    background: $white;
    border: 1px solid $purple-2;

    &:hover {
      border: 1px solid $purple-3;
      color: $purple-3;
    }

    &[disabled] {
      background: $gray-1;

      &:hover {
        background: $gray-1;
      }
    }
    &-primary {
      color: $white;
      background: $purple-2;
      border: none;

      &:hover {
        background: $purple-3;
        color: $white;
      }
    }

  }
}

[dir=rtl] .Modal .ant-modal-close {
  left: 0;
  right: auto;
}
