@use 'sass:selector';

@import '../../../../scss/func';
@import '../../scss/variables';

$AppSidebarMenu: '.AppSidebarMenu';
$AppSidebarMenuIcon: selector.append($AppSidebarMenu, '__icon');

#{$AppSidebarMenu} {
  overflow: auto;

  #{$AppSidebarMenuIcon} {
    width: $sidebar-menu-icon-size;
    height: $sidebar-menu-icon-size;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: $sidebar-item-transition;

    &--image {
      width: $sidebar-menu-icon-image-size;
      height: $sidebar-menu-icon-image-size;
    }
  }

  #{$sidebar-menu-selector} {
    border: none;

    .ant-menu-title-content {
      color: $sidebar-font-color;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      margin-left: 0;
      margin-right: 0;
      margin-inline-start: rem(4);
    }

    .ant-menu-item-divider {
      margin: rem(16) $sidebar-menu-horizontal-offset;
      background-color: $sidebar-divider;
      transition: $sidebar-item-transition;
    }

    .ant-menu-item-group-title {
      color: $sidebar-font-color;
      font-size: rem(12);
      line-height: 1.25;
      margin-bottom: rem(8);
      padding: 0;
      padding-inline-start: $sidebar-menu-horizontal-offset;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      width: 100%;
      display: flex;
      align-items: center;
      margin: rem(6) 0 0;
      padding: 0 $sidebar-menu-item-padding;
      transition: $sidebar-item-transition;

      &:after {
        border-color: $sidebar-item-select-border;
      }

      &:hover,
      &-active,
      &-selected {
        background-color: $sidebar-item-select-background;
      }

      .ant-menu-submenu-arrow {
        color: $sidebar-font-color;
      }
    }
  }

  #{$sidebar-menu-collapsed-selector} {
    .ant-menu-title-content {
      display: none;
    }

    .ant-menu-item-divider {
      margin: rem(16);
    }

    .ant-menu-item-group-title {
      padding-inline-start: $sidebar-menu-item-padding;
    }

    .ant-menu-item,
    .ant-menu-submenu {
      &:hover,
      &-active,
      &-selected {
        background-color: transparent;

        #{$AppSidebarMenuIcon} {
          background-color: $sidebar-item-select-background;
        }
      }

      &-selected {
        #{$AppSidebarMenuIcon} {
          border-color: $sidebar-item-select-border;
        }
      }
    }

    & > .ant-menu-submenu > .ant-menu-submenu-title {
      padding: 0 $sidebar-menu-item-padding;
    }

    .ant-menu-item-group > .ant-menu-item-group-list {
      & > .ant-menu-item,
      & > .ant-menu-submenu > .ant-menu-submenu-title {
        padding: 0 $sidebar-menu-item-padding;
      }
    }
  }
}
