@import '../../../scss/func';
@import '../../../scss/colors';
@import '../../../scss/variables';

.ManagementList {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $default-border-radius;
  background-color: $white;

  &__header {
    height: rem(72);
    border-bottom: 1px solid $light-gray-1;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 'title buttons' 'subtitle subtitle';
    padding: $padding-md $padding-md rem(10);
    color: $purple-4;
  }

  &__action-container {
    grid-area: buttons;
    display: flex;
    gap: rem(15);
    justify-self: end;
    align-self: center;
  }

  &__action {
    width: rem(24);
    height: rem(24);
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    &:hover,
    &:focus {
      opacity: 0.7;
    }

  }

  &__title {
    margin: 0;
    grid-area: title;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(20);
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
  }

  &__subtitle {
    grid-area: subtitle;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(20);
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
  }

  &__search {
    display: flex;
    align-items: center;
    height: rem(72);
    border-bottom: 1px solid $light-gray-1;
    padding: 0 $padding-md;

    .ant-input-search {
      border: 1px solid $light-purple-1;
      border-radius: rem(8);

      &:focus,
      &:hover,
      &:active,
      &-focused {
        border-color: $purple-2;
        outline: none;
        box-shadow: none;
      }

      &-button {
        border: none;
        box-shadow: none;
        background: none;
      }
      .ant-input-group-addon {
        background: none;
      }
      .ant-input-affix-wrapper {
        border: none;
        background: none;
      }
    }

  }

  &__content {
    flex: 1;
    overflow: auto;
  }

  &__button {
    margin: auto rem(16) rem(16);
  }
}
