@import 'scss/variables';

.AppSidebar {
  &.ant-layout-sider {
    background-color: $sidebar-background;
    z-index: 2;

    &.hovered {
      margin-inline-end: -$sidebar-full-width + $sidebar-collapse-width;
    }
  }

  &.ant-layout-sider-has-trigger {
    padding-bottom: 0;
  }

  .ant-layout-sider-trigger {
    height: 0;
    background-color: transparent;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
}
